@import "tailwindcss";

@font-face {
  font-family: "Changa";
  src: url("/src/assets/Changa/Changa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-changa: "Changa", system-ui, "Segoe UI", Roboto, sans-serif;
}

:root {
  --text: #7b6b55;
  --text-h: #3c2b17;
  --bg: #fdf9f2;
  --border: #e5dbc4;
  --code-bg: #f6f0e4;
  --accent: #c28b37;
  --accent-bg: rgba(194, 139, 55, 0.12);
  --accent-border: rgba(194, 139, 55, 0.5);
  --social-bg: rgba(246, 238, 225, 0.75);
  --shadow: rgba(117, 88, 43, 0.18) 0 14px 35px -10px;

  --sans: "Changa", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Changa", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}
